.wrapper {
    display: flex;
    margin: 0 0 20px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.content {
    width: 100%;
    margin-left: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

    .info {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover .nickname {
            text-decoration: underline;
        }
    }
    .nickname {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .tick {
        font-size: 1.4rem;
        margin: 0 6px 0 4px;
        color: #20d5ec;
    }

    .name {
        font-size: 1.4rem;
        font-weight: 400;
        margin-left: 6px;
    }

    .tag {
        display: flex;
    }

    .hashtag {
        font-weight: 600;
        color: rgba(43, 93, 185, 1);
    }
    .description {
        margin-left: 4px;
        color: var(--text-color);
        font-weight: 400;
    }

    .music {
        display: flex;
        align-items: center;
        font-weight: 700;
    }
    .music-icon {
        margin-right: 4px;
    }
}

.body {
    display: flex;
}

.video-wrapper {
    position: relative;
    max-width: 284px;
    min-height: 530px;

    .video {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: 8px;
    }

    &:hover .control-play,
    &:hover .control-sound,
    &:hover .report,
    &:hover .progress {
        opacity: 1;
    }
}

.control {
    .control-play {
        left: 14px;
        position: absolute;
        bottom: 22px;
        padding: 10px;
        -webkit-transition: opacity 0.3s;
        transition: all 0.3s ease-in;
        color: white;
        cursor: pointer;
        opacity: 0;
    }
}
.control-sound {
    position: absolute;
    text-align: center;
    right: 14px;
    bottom: 22px;
    padding: 10px;
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease-in;
    opacity: 0;

    &:hover .sound-level {
        opacity: 1;
    }

    .sound-level {
        width: 24px;
        height: 64px;
        margin: 8px 7px;
        position: relative;
        cursor: initial;
        background: rgba(22, 24, 35, 0.34);
        border-radius: 32px;
        opacity: 0;
    }

    input {
        position: absolute;
        -webkit-appearance: none;
        border-radius: 4px;
        bottom: 30px;
        right: -11px;
        width: 46px;
        height: 2px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background-color: rgba(255, 255, 255, 0.5);

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.progress {
    position: absolute;
    bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.progress-area {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.34);
    cursor: pointer;
    border-radius: 4px;

    &:hover .progress-bar::after {
        opacity: 1;
    }
}

.progress-bar {
    position: relative;
    width: 0;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;

    &::after {
        position: absolute;
        content: '';
        top: -3px;
        right: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0;
        transition: 0.2s ease;
    }
}

.progress-time {
    font-size: 1.2rem;
    color: #fff;
    padding-left: 30px;
}

.report {
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 12px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease-in;
    cursor: pointer;

    span {
        margin-left: 4px;
    }
}

.action {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 18px;

    .action-group {
        text-align: center;
    }

    .wrapper-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.059);

        &:hover {
            opacity: 0.9;
        }
    }

    strong {
        font-size: 1.2rem;
        color: rgba(22, 24, 35, 0.75);
    }
}
