.wrapper {
    width: var(--default-layout-width-sidebar);
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: var(--default-layout-header-height);
    min-height: 100%;
    padding: 20px 0 80px 0;
    overflow-y: scroll;

    &:hover {
        transition: opacity 2s ease;
    }

    &:not(:hover)::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05);
    }
}

.fullWidth {
    max-width: var(--width-sidebar);
}
